asttokens
certifi
charset-normalizer
clickhouse-driver
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
pywin32
pyzmq
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
tqdm
traitlets
tzdata
tzlocal
urllib3
wcwidth
