asttokens
certifi
charset-normalizer
clickhouse-driver
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tqdm
tzdata
tzlocal
urllib3
wcwidth
